html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  font-family: "Catamaran", sans-serif;
  color: #4A4A4A;
}

.title {
  width: 50rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

h1 {
  font-family: "HerculanumLTW01-Roman", "Helvetica Neue", sans-serif;
  margin-bottom: 0;
  margin-top: 0.5em;
  font-size: 3.5em;
  padding-bottom: 0.13em;
}

.subtitle {
  margin-top: 0;
  font-weight: 300;
  font-size: 1.2em;
}

.starting-point {
  width: 40%;
  margin-left: 45%;
  margin-right: 10%;
  margin-top: 13%;
}

.starting-point > h2 {
  font-weight: 400;
  text-align: center;
}

button {
  background-color: #5CB85C;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 2% 12%;
  margin-left: 28%;
}

button:hover {
  background-color: #40A120;
  cursor: pointer;
}

button.submit {
  margin-bottom: 25px;
}

.quiz {
  display: none;
  width: 35em;
  margin-left: 42em;
  margin-right: 5em;
  margin-top: 6em;
  background-color: #2A456B;
  color: #fff;
  border-radius: 1em 4em 1em 3em;
}

.question {
  padding-left: 1.2em;
  padding-top: 1em;
  font-weight: 400;
}

.fa-ul {
  padding-left: 3em;
  padding-bottom: 1.5em;
  line-height: 1.5;
}

.fa-circle-thin:hover {
  cursor: pointer;
}

.numCorrect {
  font-weight: 600;
}

.results {
  display: none;
  width: 35em;
  margin-left: 42em;
  margin-right: 5em;
  margin-top: 10em;
}

.collection {
  display: none;
  width: 30em;
  margin-left: 45em;
  margin-right: 5em;
  margin-top: 2em;
  text-align: center;
  color: #464447;
  padding: 0.1em 0;
  /*background: linear-gradient( 45deg, #D8D8D8, #BDDFDE ); */
}

.message {
  font-weight: 300;
  margin-top: -6.2em;
  font-size: 1.3em;
  margin-left: 2.4em;
}

.end-message {
  margin-top: -11em;
  margin-left: 5em;
}

.end-message h2 {
  font-weight: 400;
}

h2 > .bold {
  font-weight: 600;
}

.less-margin {
  margin-bottom: -0.5em;
}

.centered {
  padding-left: 4.5em;
}

.collected-scrolls {
  margin-top: 3.5em;
  margin-left: 5em;
}

.small-scrolls {
  margin-right: 1em;
}

.korra-main {
  width: 450px;
  position: fixed;
  bottom: 0;
  left: 7em;
}

@font-face {font-family: "HerculanumLTW01-Roman";
    src: url("http://db.onlinewebfonts.com/t/53c7fe3ce67d33e8535956ba4edd38c3.eot");
    src: url("http://db.onlinewebfonts.com/t/53c7fe3ce67d33e8535956ba4edd38c3.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/53c7fe3ce67d33e8535956ba4edd38c3.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/53c7fe3ce67d33e8535956ba4edd38c3.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/53c7fe3ce67d33e8535956ba4edd38c3.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/53c7fe3ce67d33e8535956ba4edd38c3.svg#HerculanumLTW01-Roman") format("svg");
}

@media only screen and (max-width: 780px) {
  .korra-main {
    width: 16rem;
  }

  .title {
    width: 31rem;
  }

  .title > h1 {
    font-size: 2.5em;
    padding-right: 0.8em;
  }

  .starting-point {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
  }

  .starting-point > h2 {
    font-size: 1.5em;
    text-align: center;
  }

  button {
    padding: 5% 29%;
    margin-left: 1.5rem;
  }

  .quiz {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    background-color: #2A456B;
    color: #fff;
    border-radius: 1em 4em 1em 3em;
  }

  .question {
    margin-top: 0;
    padding-top: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.9em;
  }

  .question > h2 {
    font-size: 1.4em;
  }
}